@media screen and (max-width: 1052px) {
    .container-1 {
        max-width: 800px;
        height: 470px;
    }
   .left .heading {
        font-size: 30px;
        line-height: 70px;
    }
    .left .para{
        font-size: 18px;
    }
    .left .btn{
        padding: 6px 10px
    }
    .right img{
        top: 55px;
        width: 180px;
    }
    .container-2{
        height: 400px;
    }

    .card{
        margin: 0 10px;
        padding: 0 10px;
    }
    .card .card-num{
        font-size: 30px;
    }
    .card .card-head{
        font-size: 20px;
        line-height: 40px;
    }
    .card .card-text{
        font-size: 15px;
    }


    .container-3{
    height: 400px;
    }
    .container-3 .heading{
        font-size: 25px;
        line-height: 35px;
    }
    .container-3 .text{
        line-height: 20px;
        font-size: 15px;
    }
    .container-3 .btn{
        padding: 6px 10px;
    }


    .container-4{
        padding: 100px 15px 80px 15px;
    }
    .container-4 .head{ 
        font-size: 30px;
        line-height: 40px;
    }
    .container-4 .images{
        margin-bottom: 15px;
    }
    .container-4 .img{
        width: 35%;
        height: 250px;
    }

}



@media screen and (max-width: 860px) {
    .container-1 {
        max-width: 700px;
        height: 370px;
    }
   .left .heading {
        font-size: 25px;
        line-height: 60px;
    }
    .left .para{
        font-size: 16px;
    }
    .left .btn{
        padding: 5px 8px
    }
    .right img{
        top: 45px;
        width: 150px;
    }

    .container-2{
        height: 350px;
    }

    .card{
        margin: 0 8px;
        padding: 0 8px;
    }
    .card .card-num{
        font-size: 25px;
    }
    .card .card-head{
        font-size: 15px;
        line-height: 30px;
    }
    .card .card-text{
        font-size: 12px;
    }


    .container-3{
    height: 350px;
    }
    .container-3 .heading{
        font-size: 20px;
        line-height: 30px;
    }
    .container-3 .text{
        line-height: 15px;
        font-size: 12px;
    }
    .container-3 .btn{
        padding: 5px 8px;
    }


    .container-4{
        padding: 80px 10px 60px 10px;
    }
    .container-4 .head{ 
        font-size: 25px;
        line-height: 30px;
    }
    .container-4 .images{
        margin-bottom: 10px;
    }
    .container-4 .img{
        width: 32%;
        height: 220px;
    }
    .container-4 .text{
        font-size: 12px;
    }
    .container-4 p,a{
        font-size: 12px;
    }

}




@media screen and (max-width: 700px) {
    .container-1 {
        max-width: 500px;
        height: 300px;
    }
   .left .heading {
        font-size: 20px;
        line-height: 50px;
    }
    .left .para{
        font-size: 12px;
        width: 55%;
    }
    .left .btn{
        padding: 4px 6px;
        font-size: 10px;
    }
    .right img{
        top: 35px;
        width: 100px;
    }

    .container-2{
        height: 300px;
    }

    .card{
        margin: 0 6px;
        padding: 0 6px;
    }
    .card .card-num{
        font-size: 20px;
    }
    .card .card-head{
        font-size: 12px;
        line-height: 25px;
    }
    .card .card-text{
        font-size: 11px;
    }


    .container-3{
    height: 280px;
    max-width: 85%;
    }
    .container-3 .heading{
        font-size: 17px;
        line-height: 20px;
    }
    .container-3 .text{
        font-size: 11px;
    }
    .container-3 .btn{
        padding: 4px 6px;
        font-size: 9px;
    }


    .container-4{
        padding: 60px 8px 40px 8px;
    }
    .container-4 .head{ 
        font-size: 20px;
        line-height: 20px;
    }
    .container-4 .images{
        margin-bottom: 8px;
    }
    .container-4 .img{
        width: 28%;
        height: 200px;
    }
    .container-4 .text{
        font-size: 11px;
    }
    .container-4 p,a{
        font-size: 11px;
    }

}


@media screen and (max-width: 510px) {
    .container-1 {
        flex-direction: column;
        max-width: 390px;
        height: 450px;
        position: static;
        justify-content: center;
        text-align: center;
    }
   .left .heading {
        font-size: 18px;
        line-height: 40px;
    }
    .left .para{
        font-size: 12px;
        width: 95%;
        margin: auto;
    }
    .left .btn{
        padding: 4px 6px;
        font-size: 8px;
    }
    .right img{
        position: static;
        width: 80px;
        margin: 10px 0;
    }

    .container-2{
        height: 450px;
        width: 80%;
        flex-direction: column;
    }
    .card .card-num{
        font-size: 18px;
    }
    .card .card-head{
        font-size: 12px;
    }
    .card .card-text{
        font-size: 11px;
        width: 70%;
        margin: auto;
    }


    .container-3{
        max-width: 90%;
    }
    .container-3 .heading{
        font-size: 14px;
    }
    .container-3 .text{
        font-size: 10px;
    }
    .container-3 .btn{
        padding: 4px 6px;
        font-size: 7px;
    }


    .container-4{
        padding: 50px 8px 20px 8px;
    }
    .container-4 .head{ 
        font-size: 18px;
    }
    .container-4 .text{ 
        font-size: 10px;
        width: 95%;
        margin: auto;
    }

    .container-4 .images{
        flex-direction: column;
    }
    .container-4 .img{
        width: 90%;
        margin: 8px 0;
        height: 200px;
    }
    .container-4 p,a{
        font-size: 10px;
    }

}

